$bg-color : red;

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
a {

}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.App{

}

.inforamtionButton {
  position: relative;
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}

.inforamtionButton:hover {
  background-color: black;
  color: white;
}

.paymentButton {
  position: relative;
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}

.paymentButton:hover {
  background-color: black;
  color: white;
}

.App-logo {
  position: relative;
  height: 10vmin;
}

.information {
  text-align: center;
  overflow: hidden;
  background-color: #333;
}

.homeContent {
  display: relative;
  background-color: #ddd;
  width: 100%;
  padding: 25px;
  text-align: center;
}

.informationContent {
  text-align: left;
  background-color: #ddd;
  width: 100%;
  padding: 25px;
}

.buttom {
  background-color: #f1f1f1;
  padding: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
